@charset "utf-8";
body{
    margin: 100px;
    height: 800px;
    border:1px solid red;
}

header{
    width: 100px;
    height: 100px;
    background-color: silver;
    /* position: absolute;
    top:0;
    left:0;
    z-index: 1; */
}
/* aside{
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top:20px;
    left:20px;
} */
