@charset "utf-8";

/* 通用選擇器還匹配到了html和body元素 */
/* *{
    border:  1px solid red;
} */

/*元素選擇器*/
/* p{
    color: red;
} */

/*id選擇器*/   /*通過對元素設置全局屬性 id，然後使用#id值來選擇頁面唯一元素*/
/* #abc{
    color: green;
} */
/*類選擇器*/ /*通過對元素設置全局屬性 class，然後使用 .class值選擇頁面一個或多個元素*/
/* .abc{
    color: blue;
} */

/* b.abc{
    color: orange;
} */

/* .abc{
    color: red;
}

.def{
    font-size: 30px;
} */

/*屬性選擇器*/
/* [href]{
    color: red;
} */

/*css2*/
[type="password"]{
    border: px solid red;
}

/*屬性值開頭匹配的屬性選擇器 CSS3*/
/*匹配開頭*/
/* [href^="http"]{
    color: red;
} */

/*匹配結尾*/
/* [href$=".cn"]{
    color: green;
} */

/*屬性值包含指定字符的屬性選擇器  CSS2*/
/*模糊匹配*/
/* [href*="baidu"]{
    color: pink;
} */

/*屬性值具有多個值時，匹配其中一個值的屬性選擇器 CSS2*/
/* [class~="def"]{
    color: gray;
} */

/*屬性值具有多個值且使用 "-"號連接符分割的其中一個值的屬性選擇器*/
/* [lang|="en"]{
    color: indigo;
} */

/*复合选择器*/
/*将不同的选择器进行组合形成新的特定匹配，我们称为复合选择器*/

/*分组选择器*/
/*将多个选择器通过逗号分隔，同时设置一组样式。当然，不但可以分组元素选择器，
还可以使用ID选择器、类选择器、属性选择器混合使用。*/
/* p,b,i,span{
    color: red;
} */

/* #ab,.abc,i,span{
    color: yellowgreen;
} */

/*后代选择器*/
/*选择<p>元素内部所有<b>元素。不在乎<b>的层次深度。当然，后代选择器也可以混合使用ID选择器、类选择器、属性选择器*/
/* p b{
     color: aqua;
} */

/*子选择器*/
/* p > b{
    color: maroon;
} */

/*相邻兄弟选择器*/
/* p+b{
    color: maroon;
} */

/*普通兄弟选择器 CSS3*/
/*普通兄弟选择器匹配到第一个元素后面的所有元素*/
/* p~b{
    color:yellow;
} */

/*伪元素选择器*/
/*伪元素选择器分为两种第一种是下节伪类选择器，还有一种就是伪元素选择器。
这两种选择器特性上比较容易混淆
在CSS3中为了区分，伪元素前置两个冒号（::)，伪类前置一个冒号(:)*/

/*块级首行选择器:伪元素选择器*/
/* ::first-line{
    color: tomato;
} */

/*p的首行才有效果*/
/* p::first-line{
    color:red;
} */

/*块级元素首字母 当body标签内没有 块级元素时行内元素会应用样式*/
/* ::first-letter{
    color: red;
} */

/*文本前插入*/
/* a::before{
  content: '点击';
} */

/*文本后插入*/
a::after{
    content: '搜索';
}