@charset "utf-8";
body{
    /* width: 200px; */

    font-size: 50px;
}
P{
    /* 十六进制 */
    /* color:#f00; */

    /* 十进制 */
    /* color: rgb(0, 128, 128); */

    /* rgba 可以设置透明度 */
    /* color: rgba(0, 128, 128, 0.3); */

    /* 用 HSL模型（色相、饱和度、透明度）来表示颜色 */
    /* color: hsl(120, 100%, 30%); */

    /*  */
    /* color: hsla(120, 100%, 30%, 0.2); */

    /* em是相对单位，与字号大小挂钩，会根据字体大小改变自己的大小，灵活性很高 */
    /* px相对单位，但由于和分辨率挂钩，导致他其实是就变成一个绝对的单位了 */
    margin: 0;
    padding: 0;
    background: gray;
    /* font-size: 20px;
    height: 2em; */
    /* font-size: 20px; */ 
    font-size: 200%;
    /* height: 50px; */

    /* %百分比 百分比其实就是根据父元素的宽度决定我目前的宽度 */
    /* 长度比较好理解，就是挂钩它所在区域的宽度，而 font-size: 则是继承到原始大小的百分比; */
    width: 50%;
}

